<div class="container recent">
  <div class="recent-head">My Recent Work</div>
  <div class="recent-dialog">
    Here are a few recent design projects. Want to see more?
    <a href="mailto:nazmuldipu@gmail.com">Email me.</a>
  </div>
  <div class="row">

    <div class="col-md-4 p-2">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper recent-card">
          <div class="front recent-card-front" style="background-color: #cee7e7;">
            <img class="recent-card-front-image" src="/assets/images/hotelswave.png" />
            <span class="recent-card-front-name text-light" style="color: #820000 !important;">Hotelswave</span>
          </div>
          <div class="back recent-card-back" style="background-color:  #293347;">
            <div class="recent-card-back-text">
              Hotelswave is online hotel booking site
            </div>
            <div class="recent-card-back-link">
              <a class="btn btn-outline-primary" href="https://www.hotelswave.com" target="_blank">
                Visit website <i class="fa fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 p-2">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper recent-card">
          <div class="front recent-card-front" style="background-color: #550d4e;">
            <img class="recent-card-front-image" src="/assets/images/monerbari.png" />
            <span class="recent-card-front-name text-light">Monerbari</span>
          </div>
          <div class="back recent-card-back" style="background-color:  #293347;">
            <div class="recent-card-back-text">
              Home shifting, Interior design, Event management, Truck/Van order
              service provider
            </div>
            <div class="recent-card-back-link">
              <a class="btn btn-outline-primary" href="https://www.monerbari.com" target="_blank">
                Visit website <i class="fa fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 p-2">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper recent-card">
          <div class="front recent-card-front" style="background-color: green;">
            <img class="recent-card-front-image" src="/assets/images/jananibd.png" />
            <span class="recent-card-front-name text-light">Jananibd</span>
          </div>
          <div class="back recent-card-back" style="background-color:  #293347;">
            <div class="recent-card-back-text">
              Jananibd is a Internet Service Provider (ISP)
            </div>
            <div class="recent-card-back-link">
              <a class="btn btn-outline-primary" href="https://www.jananibd.com" target="_blank">
                Visit website <i class="fa fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 p-2">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper recent-card">
          <div class="front recent-card-front" style="background-color: #333;">
            <img class="recent-card-front-image" src="/assets/images/imart.png" />
            <span class="recent-card-front-name text-light"> i Mart</span>
          </div>
          <div class="back recent-card-back" style="background-color:  #293347;">
            <div class="recent-card-back-text">
              i Mart is a e-commerce organic food site.
            </div>
            <div class="recent-card-back-link">
              <a class="btn btn-outline-primary" href="https://www.imartltd.com/" target="_blank">
                Visit website <i class="fa fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 p-2">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper recent-card">
          <div class="front recent-card-front" style="background-color:#1a8536;">
            <img class="recent-card-front-image" src="/assets/images/ita.jpg" />
            <span class="recent-card-front-name text-light"> ITA </span>
          </div>
          <div class="back recent-card-back" style="background-color:  #293347;">
            <div class="recent-card-back-text">
              ITA is a tourism company that arrange diffrent kind of tours with cost value.
            </div>
            <div class="recent-card-back-link">
              <a class="btn btn-outline-primary" href="https://www.ita.com.bd/" target="_blank">
                Visit website <i class="fa fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>