<div class="container">
  <div class="feature">
    <div class="row m-0">
      <div class="col-md-4">
        <div class="feature-col">
          <figure class="feature-col-image">
            <img
              class="feature-col-image-icon"
              src="/assets/svgs/web-design.svg"
            />
          </figure>
          <div class="feature-col-title">Front-end Developer</div>
          <p>
            I tend to code things from scratch, and enjoy bringing ideas to life
            in the browser.
          </p>
          <div class="feature-col-h23">Languages I speak:</div>
          <p>Angular, Typescript, Javascript, Rx/Js, HTML, CSS, Sass, Less</p>

          <div class="feature-col-h23">Dev Tools:</div>
          <p>
            Vscode <br />
            Bitbucket <br />
            Bootstrap <br />
            Github <br />
            Gitlab <br />
            Terminal <br />
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="feature-col">
          <figure class="feature-col-image">
            <img class="feature-col-image-icon" src="/assets/svgs/server.svg" />
          </figure>
          <div class="feature-col-title">Back-end Developer</div>
          <p>
            I always focus about performance, clean code, minimum number of line
            of code and finally always security.
          </p>
          <div class="feature-col-h23">Languages I speak:</div>
          <p>Java, Java EE, Springboot, Hibernet, JPA, SQL</p>

          <div class="feature-col-h23">Dev Tools:</div>
          <p>
            Intellij <br />
            Eclipse <br />
            Bitbucket <br />
            Github <br />
            Gitlab <br />
            Terminal <br />
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-col">
          <figure class="feature-col-image">
            <img
              class="feature-col-image-icon"
              src="/assets/svgs/smartphone.svg"
            />
          </figure>
          <div class="feature-col-title">Mobie app Developer</div>
          <p>Light weight, high performance, easy user interface mobile app.</p>
          <div class="feature-col-h23">Languages I speak:</div>
          <p>Android, Flutter, Java, Dart </p>

          <div class="feature-col-h23">Dev Tools:</div>
          <p>
            Android Studio <br />
            Intellij <br />
            Eclipse <br />
            Bitbucket <br />
            Github <br />
            Gitlab <br />
            Terminal <br />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
