<div class="container intro">
  <!-- <div class="row"> -->
  <div class="intro-head">Full-stack Software Developer</div>
  <div class="intro-dialog">
    I made easy and beautiful front-end & secured, efficent, organized and high
    performance back-end.
    <!-- I design and code beautifully simple things, and I love what I do. -->
  </div>
  <div class="intro-avatar">
    <img class="intro-avatar-icon" src="/assets/svgs/man.svg" alt="user icon" />
  </div>
  <div class="intro-image">
    <img
      class="intro-image-img"
      src="/assets/images/hero.png"
      alt="user icon"
    />
  </div>
  <!-- </div> -->
</div>
