<div class="startups">
  <div class="container">
    <div class="startups-head">My Startup Projects</div>
    <div class="startups-text">
      I'm a bit of a digital product junky. Over the years, I've demoed and
      trialed hundreds of web and mobile apps in different industries and
      verticals. Eventually, I decided that it would be a fun challenge to try
      designing and building my own.
    </div>
  </div>
</div>
<div class="container">
  <div class="projects">
    <div class="row">
      <div class="col-md-4">
        <div
          class="projects-card shadow-sm"
          style="background-color: teal; border-color: teal; color: white;"
        >
          <div class="projects-card-head">
            <img
              class="projects-card-head-image"
              src="/assets/images/paperplane.png"
            />
            <span class="projects-card-head-name">
              Academy Uses <strong> SMS </strong>Gateway
            </span>
          </div>
          <div class="projects-card-dialog">
            A powerful software platform to send your information to your
            students parents.
          </div>
          <div class="projects-card-link">
            <a
              href="https://academy.moninfotech.com/"
              target="_blank"
              style="color: wheat; text-decoration: none;"
            >
              Visit site
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="projects-card shadow-sm"
          style="background-color: #c6e2ff; border-color: #c6e2ff; "
        >
          <div class="projects-card-head">
            <img
              class="projects-card-head-image"
              src="/assets/images/therapy.png"
            />
            <span class="projects-card-head-name">
              <strong> Physiotherapy </strong> online
            </span>
          </div>
          <div class="projects-card-dialog">
            A platform where Physiotherapy center would be able to recorde their
            patients informations and accountings
          </div>
          <div class="projects-card-link">
            <a
              href="https://therapy.moninfotech.com/"
              target="_blank"
              style="color: #169f48; text-decoration: none;"
            >
              Visit site
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="projects-card shadow-sm">
          <div class="projects-card-head">
            <img
              class="projects-card-head-image"
              src="/assets/images/isp.png"
            />
            <span class="projects-card-head-name">
              <strong> ISP </strong> Billing
            </span>
          </div>
          <div class="projects-card-dialog">
            ISP software where isp will record their customer informations,
            accountings and billings.
          </div>
          <div class="projects-card-link">
            <a href="https://isp.moninfotech.com/" target="_blank">
              Visit site
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="investment text-center">
    <div class="investment-head">Interested in collaborating or investing?</div>
    <div class="investment-text">
      I’m always open to discussing product design work or partnership
      opportunities.
    </div>
    <div class="investment-button">
      <a
        class="btn btn-outline-primary"
        href="mailto:nazmuldipu@gmail.com?subject=Start a conversation&body=Hello Nazmul, I would like to build a project with you."
      >
        Start a conversation
      </a>
    </div>
  </div>
</div>
