<div class="footer2"></div>
<div class="container">
  <div class="footer">
    <div class="row">
      <div class="col-md-3 text-center">
        <span class="footer-left">Start a project</span>
      </div>
      <div class="col-md-6 text-center">
        <span class="footer-center"
          >Interested in working together? We should queue up a chat. I’ll buy
          the coffee.</span
        >
      </div>
      <div class="col-md-3 text-center">
        <span class="footer-right">
          <a
            class="btn btn-outline-primary"
            href="mailto:nazmuldipu@gmail.com?subject=Start a conversation&body=Hello Nazmul, Let's have a cup of coffee with you."
          >
            Let's do this
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="footer3">
  <div class="container text-center">
    <img
      src="/assets/images/logowhite.png"
      alt="Search icon"
      style="height: 48px;"
    />
    <div class="footer3-texts">
      Living, learning, & leveling up <br />
      one day at a time.
    </div>
    <div class="footer3-follow">
      <a
        href="https://www.linkedin.com/in/nazmuldipu/"
        class="btn btn-outline-light mx-1"
        target="_blank"
      >
        <i class="fa fa-linkedin"></i>
      </a>
      <a
        href="https://www.facebook.com/nazmulng"
        class="btn btn-outline-light mx-1"
        target="_blank"
      >
        <i class="fa fa-facebook"></i>
      </a>
      <a
        href="https://twitter.com/nazmulng"
        class="btn btn-outline-light mx-1"
        target="_blank"
      >
        <i class="fa fa-twitter"></i>
      </a>
      <a href="mailto:nazmuldipu@gmail.com" class="btn btn-outline-light mx-1">
        <i class="fa fa-envelope-o"></i>
      </a>
    </div>
  </div>
  <div class="container text-center mt-5 pb-5">
    Handcrafted by me © monerbari.com
  </div>
</div>
